{% extends "layout.html" %}

{% from 'macros.html' import render_field %}

{% block section %}
<section>
    <div class="container">
        <div class="edit-entry">
            <h2>Edit Entry</h2>
            <form action="{{ url_for('edit', id=entry.id) }}" method='POST'>
                {{ edit_form.hidden_tag() }}
                {{ render_field(edit_form.journal_title, entry.title) }}
                {{ render_field(edit_form.journal_date, entry.date.strftime('%Y-%m-%d')) }}
                {{ render_field(edit_form.journal_time_spent, entry.time_spent) }}
                <textarea name="journal_learned" value="{{ entry.journal_learned }}">{{ entry.journal_learned }}</textarea>
                <textarea name="journal_resources" value="{{ entry.journal_resources }}">{{ entry.journal_resources }}</textarea>
                <input type="submit" value="Publish Entry" class="button">
                <a href="{{ url_for('detail', id=entry.id) }}" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}